.blue-btn{
    color: #000;
    background-color: #15ECFB;
    border: 5px solid #000000;
    border-radius: 12px;
    padding: 1em 1.5em;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 250px;
    height: 71px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.blue-btn:hover{
    background-color: #000000;
    color: #15ECFB;
    cursor: pointer;
}
