.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #15ECFB 0%, #0C8C95 100%);
    height: 13vh;

}
.logo{
    color: #FFFF50;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Jacques Francois Shadow";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 1em;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    li{
        list-style: none;
        font-size: 22px;
        /* :hover{
            color: #141414;
            border: 3px solid #161616;
            border-radius: 5px;
            background-color: #FFFF50;
            padding: 0.5em 0.7em;
            transition: all 0.3s ease-in-out;
        }  */
    }

    .nav-link{
        text-decoration: none;
        color: white;
    }

}

.nav-item .nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    padding: 0.4em 0.6em;
    border-radius: 5px;
  }
  

.nav-item .nav-link:hover {
    background-color: #FFFF50;
    color: #141414;
    border: 2px solid #000;
}

.cart-icon-wrapper{
    background-color: transparent;

}

.shopping-cart{
    position: relative;
    display: flex;
    justify-content: center;
    img{
        width: 3.5em;
        margin-right: 1em;
    }
    .cart-count{
        position: absolute;
        top: 0%;
        right: 22%;
        background-color: #FFFF50;
        color: black;
        border-radius: 50%;
        padding: 0.3em 0.7em;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .header-wrapper{
        flex-direction: column;

        height: auto;
        padding: 1em 0;

    }
    .nav-wrapper{
        flex-direction: column;
        
        gap: 1em;
        ul{
            flex-direction: column;
            align-items: center;
            gap: 1em;
            width: 100%;
        }
    }
}